*{
    text-decoration: none;
}
.card{
    margin-top: 10px;
    border:none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top:54%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 54, 71);
}
a.linkNav{
    color: white; margin-top: 10px;
}

.rightClear{
    float: right;
}
.errorResult{
    color:red;
}
.successResult{
color: rgb(251, 255, 0);
font-size: 1.2em;
}
.headSign{
    color: rgb(255, 208, 0);
}
label{
    color: white;
    padding: 5px;
    font-size: 1.2em;
}
