<div class="container">
  <div class="containerInner">
    <div class="card">
      <div class="text-center">
        <h1>MY COMPONENTS</h1>
      </div>
      <div class="componentFirst">
        <a href="http://localhost:4200/home">Home</a>
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/books">Book</a>
      </div>
      <div class="componentFirst">
        <a href="http://localhost:4200/calculator">Calculator</a>
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/myComments">Comments</a>
      </div>
      <div class="componentFirst">
        <a href="http://localhost:4200/foodmenia">Food Menia</a>
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/header">Header</a>
      </div>
      <div class="componentFirst">
        <a href="http://localhost:4200/photos">Photoes</a>
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/signup">SignIn</a>
      </div>
      <div class="componentFirst">
        <a href="http://localhost:4200/login">Login</a>
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/simple-calculatorr">Simple Calculator</a>
      </div>
      <div class="componentFirst">
        <a href="http://localhost:4200/toggle-button">Toggle Button</a>
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/new-calculator">New Calculator</a>
      </div>
      <div class="componentFirst">
        <a href="http://localhost:4200/student-entry-program"
          >Student Entry Program</a
        >
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/app-student-list">Student List</a>
      </div>
      <div class="componentFirst">
        <a href="http://localhost:4200/currencyConvert1"> Convert Currency </a>
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/app-html-if-else">HTML IfElse</a>
      </div>
      <div class="componentFirst">
        <a href="http://localhost:4200/app-new-currency">New Currency</a>
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/app-saving">Saving</a>
      </div>
      <div class="componentSecond">
        <a href="http://localhost:4200/app-album">album</a>
      </div>
    </div>
  </div>
</div>
