*{
    text-decoration: none;
}
.card{
    margin-top: 10px;
    border:none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgb(152, 231, 255);
}
a.linkNav{
    color: white; margin-top: 10px;
}

.rightClear{
    float: right;
}
.errorResult{
    color:red;
}

.SignUpHead{
    color: rgb(0, 8, 114);

}
label{
    color: white;
    padding: 5px;
    font-size: 1.2em;
}
